
.ability {
    background-color: #555; 
    color: #eee; 
    border-radius: 10px; 
    padding: 10px 20px;
    max-width: 500px;
    margin: 15px;
}

.ability h1,h2,h3,h4 {
    display: inline;
}

.info {
    color: #bbb;
}

.id {
    color: #999;
}

.cast {
    color: #bbb; text-align: right; padding-left: 40px;
}

.recast {
    color: #bbb; text-align: right; padding-left: 20px;
}

.loader {
  border: 5px solid #f3f3f3;
  -webkit-animation: spin 1s linear infinite;
  animation: spin 1s linear infinite;
  border-top: 5px solid #555;
  border-radius: 50%;
  width: 50px;
  height: 50px;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}